@font-face {
  font-family: "iconfont"; /* Project id 5088261 */
  src: url('iconfont.woff2?t=1765696487727') format('woff2'),
       url('iconfont.woff?t=1765696487727') format('woff'),
       url('iconfont.ttf?t=1765696487727') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-position-mark:before {
  content: "\e600";
}

